<IfModule mod_headers.c>
  <FilesMatch "\.(json|php|htaccess)$">
    Require all granted
    Header set Cache-Control "no-store"
  </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^api/ - [L]
  RewriteRule ^uploads/ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.html [L]
</IfModule>
